@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

.paginationtextfield-container{
    padding-top: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textfield-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    margin-top: 40px;
}

.pagination-container{
    display: flex;
    flex-direction: row;
}

.rows-per-page{
    margin-left: 10px;
    height: 38px;
}

.pagination{
    margin-left: 12px;
}

.searchbar{
    height: 50px;
    display: flex;
    margin-bottom: 50px;
}


