@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

.paginationtextfield-container{
    padding-top: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textfield-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    margin-top: 40px;
}

.pagination-container{
    display: flex;
    flex-direction: row;
}

.rows-per-page{
    margin-left: 10px;
    height: 38px;
}

.pagination{
    margin-left: 12px;
}

.searchbar{
    height: 50px;
    display: flex;
    margin-bottom: 50px;
}

.ant-spin-container{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    z-index: 2;
}

.ant-input-wrapper {
    position: absolute;
    top: 7%; 
    left: 100; 
    width: 30%;
    margin-right: 50px;
    z-index: 3;
  }
.ant-pagination{
    display: flex;
    justify-content: flex-start;
}

.ant-table-wrapper .ant-table-pagination-right{
    justify-content: flex-start;
    width: 60%;
    padding-left: 10px;
}

.ant-input-group-wrapper{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


